*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 400px;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: white ;
    text-align: center;
    margin: 6% 34%;
}
body{
    background-color: rgb(255, 175, 56);
    background-repeat: no-repeat;
    background-size: 100%;
}
#pass{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-left: 120px;

    text-align: center;
    padding: 5px;
    background-color: lavender;
    border: 2px solid lavender ;
    border-radius: 5px;
}
button{
    background-color:  rgb(56, 76, 255);
    height: 30px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid rgb(56, 76, 255);
    color: white;
}